.tituloRegularModal{
    font-family: DefaultFont-Re;
    font-size: 0.65rem;
    padding-bottom: 10px;
}
.inputTextArea{
    margin: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 15px;
    width: 480px;
}

.inputSelector{
    width: 480px;
    margin: 10px;
    border-radius: 15px;
}





